HELP.md
build/

### Gradle ###
.gradle/
# Keep the Gradle wrapper, ignore everything else under gradle/
gradle/*
!gradle/wrapper/
gradle/wrapper/*
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Logs ###
*.log
